{% extends 'base.html' %}
{% load static %}
{% block content %}
<!--위치장소부스 출력-->
<div>
    {% for booth in booths%}
         <div>
             <p>{{booth.booth_num}}번 부스</p>
             <p>이름 : {{booth.name}}</p>
             <p>메뉴 : {{booth.detail}}</p>
             <hr>
         </div>
    {% endfor %}
</div>
{% endblock %}
<!--장소 목록-->
<div class="place">
        <div id ="box" class="row" style="margin-bottom:0px; display: flex; width: 100vw;" >
           <div class="button_building col s3" >
               <form action="{% url 'second' %}" method='get'>
                   <button type="submit" class="place_button" name="place" value="hak">학관</button>
               </form>
              <form action="{% url 'second' %}" method='get'>
                   <button type="submit" class="place_button" name="place" value="hoo">후윳길</button>
               </form>
               <form action="{% url 'second' %}" method='get'>
                   <button type="submit" class="place_button" name="place" value="hakm_base">학문관지하</button>
               </form>
               <form action="{% url 'second' %}" method='get'>
                   <button type="submit" class="place_button" name="place" value="hakm_forest">학문관숲길</button>
               </form>
               <form action="{% url 'second' %}" method='get'>
                   <button type="submit" class="place_button" name="place" value="posco">포스코관</button>
               </form>
               <form action="{% url 'second' %}" method='get'>
                   <button type="submit" class="place_button" name="place" value="gate">정문</button>
               </form>
               <form action="{% url 'second' %}" method='get' style="border-bottom: none;">
                   <button type="submit" class="place_button" name="place" value="saeng">생활관</button>
               </form>
           </div>
           <!--<div class="place_img col s9" >
               <div class="line_height">
                   <%= image_tag ("building/#{@building}.jpg"), :class => "style_image" %>
                </div>
           </div>-->


       </div>
       </div>
