{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/bar.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR|Roboto+Slab" rel="stylesheet">
        <title>ewha episode</title>
    </head>
    <body> <!--body...임시로 해놓은 거-->

        <h1><a href="{% url 'home' %}">EWHA EPISODE</a></h1>
        <nav id="re_navbar">
          <div class="gnb">
            <div> <!--헤더입니다-->
                <form action="{% url 'first' %}" method='get' class="nav_btn">
                    <button class="gnb_but" type="submit">5/15(수)</button>
                </form>
                <form action="{% url 'second' %}" method='get'class="nav_btn">
                    <button class="gnb_but" type="submit">5/16(목)</button>
                </form>
                <form action="{% url 'third' %}" method='get' class="nav_btn">
                    <button class="gnb_but" type="submit">5/17(금)</button>
                </form>
                <form action="#" method='get' class="nav_btn">
                    <button class="gnb_but" type="submit">야시장</button>
                </form>
                <form action="#" method='get' class="nav_btn">
                    <button class="gnb_but" type="submit">이벤트</button>
                </form>
                <form action="#" method='get' class="nav_btn">
                    <button class="gnb_but" type="submit">EPISODE</button>
                </form>
            </div>
          </div>
        </nav>


        <!--검색-->
        <div class="search_box row">
            <form action="{% url 'search' %}" method="get">
               <div class ="col s10" style="margin-left:1vw;"></div>
                <select name="kind">
                    <option value="name">부스명</option>
                    <option value="detail">메뉴</option>
                </select>
                <input type = "text" name = "search">
                <input type = "submit" value="SEARCH"  id="search_btn">
        </div>
        <div>
          {% block content %}
          {% endblock %}
        </div>

        <footer>
          <p>Copyright &copy; Ewha-Likelion 7th, 2019</p>
        </footer>
    </body>
</html>
